## User settings
xcuserdata/

## App packaging
*.ipa
*.dSYM.zip
*.dSYM
.build/

## Cocoapods
Pods

## Fastlane
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output